
.left-column {
	float: left;
	width: 30%;
	height: 1000px;
	background-color: red;
}
.center-column {
	float: left;
	width: 40%;
}
.right-column {
	float: right;
	width: 30%;
	height: 1000px;
	background-color: red;
}


/* TODO: Figure out how to keep board square but 
be responsive*/
td button {
	border: 1px solid black;
	font-size: 36px;
	height: 150px;
	width: 150px;
	text-align: center;
	background-color: peachpuff;
	opacity: .5;
}
button.red:hover {
	background-color: red;
	opacity: .5;
}
button.green:hover {
	background-color: green;
	opacity: .5;
}

.reset-btn {
	clear: both;
	margin-top: 10px;
}

#board {
	margin: auto;
	background-color: gray;
	border-radius: 5px;
	margin-top: 30px;
}
body {
	text-align: center;
	background-color: lightblue;
	width: 100%;
}

#player-2-board {
	margin: 10px auto;

}

button.p2 {
	height: 75px;
	width: 75px;
}

.chat-container {
	display: inline-block;
	width: 85%;
	margin: 0 auto;
	border: 1px dashed black;
	background-color: yellow;
	border-radius: 5px;
	padding: 5px;
}

div.chat-history {
	border: 2px solid black;
	height: 500px;
	width: 99%;
	background-color: white;
	border-radius: 5px;
}
ul.chat-history {
	margin-left: 10px;
	max-width: 100%;
	list-style: none;
	text-align: left;
	padding: 0;
}
.chat-entry {
	float: left;
	width: 68%;
	height: 25px;
	padding 0;
	border-color: gray;
	outline: none;
}
chat {
	padding-bottom: 10px;
}
.chat-button {
	float: right;
	width: 28%;
	height: 25px;
	padding: 1px;
	border: 2px solid gray;
	box-sizing: content-box;
	outline: none;
}