@font-face {
  font-family: marioFont;
  src: url('emulogic.ttf');
}
html {
	background-color: black;
}
body {
	margin: 0;
	font-family: 'marioFont';
	color: white;
	font-size: 28px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Header */

header {
	width: 100%;
	display: inline-block;
	z-index: 2;
}
p.left {
	position: relative;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	z-index: 2;
	margin: 0;
}
p.right {
	position: relative;
	text-align: right;
	float: right;
	padding-right: 15px;
	padding-top: 15px;
	z-index: 2;
	margin: 0;
}

/* Lobby screen */

.lobby-container {
	background-image: url('../mario/title-screen-background.png');
	background-color: white;
	background-size: auto 100vh;
	background-position: center;
	background-repeat: no-repeat;
	width: 775px;
	height: 100vh;
	background-color: black;
	margin: auto;
}
nav {
	padding-top: 350px;
	text-align: center;
}
ul {
	list-style: none;
	padding-left: 0;
	display: inline-block;
}
li {
	padding-bottom: 10px;
}
li:hover {
	list-style-image: url('../mario/shroom-selector.png');
}
a {
	text-decoration: none;
	color: white;
}


/* Game screen */

.game-container {
	background-image: url('../mario/1-1-background.png');
	background-color: white;
	background-size: auto 100vh;
	background-position: center;
	background-repeat: no-repeat;
	width: 775px;
	height: 100vh;
	background-color: black;
	margin: auto;
	position: relative;
}
table {
	margin: auto;
	clear: both;
	position: relative;
	bottom: 0;
}
td {
	width: 100px;
	height: 100px;
	background-image: url('../mario/question-mark-block.gif');
	background-size: cover;
	}
tr {
	padding{10px 10px}
}
td.empty.turn:hover {
	background-position:3px 3px;
	cursor: pointer;
}
td.empty.notTurn:hover {
	background-position: 0 0;
	opacity: .8;
}
td.P1{
	background-image: url('../mario/fireflower.gif');
	background-size: 90px 90px;
	background-position: center;
	background-repeat: no-repeat;

}
td.P2{
	background-image: url('../mario/star.gif');
	background-size: 90px 90px;
	background-position: center;
	background-repeat: no-repeat;
}
.play-area {
	clear: both;
	display: block;
	margin: auto;
	padding-top: 5%;
}


/* Makes lines for titactoe board */
table {
  border-collapse: collapse;
}
table td {
  border: 8px solid black;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}

.three {
	bottom: -100px;
}
.waiting {
	text-align: center;
	font-size: 24px;
	margin-top: 100px;
}
.game-over-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	text-align: center;
	z-index: 1;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.game-over-screen ul {
	margin: 10px;
}
.game-over-screen p {
	margin: 0;
}
.game-over-screen p:first-child {
	margin-top: 250px;
}

.thumb {
	height: 30px;
	width: 30px;
	margin: 0 5px;
}
.highlight {
	color: red;
}

/* chat */
.chat-box ul {
  list-style-type: none;
  padding-left: 10px;
}
.chat-box ul li:hover {
	list-style-image: none;
}
.chat-box {
  position: absolute;
  width: 315px;
  height:60vh;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 4px solid black;
  border-bottom: none;
  box-sizing: border-box;
  z-index: 1;
  font-size: 12px;
  text-align: left;
  background-image: url('../mario/mario-pipe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.chat-box button {
  position: absolute;
  bottom: 0;
  left: 228px;
  height: 40px;
  outline: none;
  border: 4px solid black;
  font-family: marioFont;
}
.chat-box input {
  position: absolute;
  width: 222px;
  height: 30px;
  bottom: 0;
  left: 0;
  border: 4px solid black;
  font-family: marioFont;
}
.chat-header{
  background-color: blue;
  width: 100%;
  height: 30px;
}
.chat-header p {
  margin: 0;
  padding-top: 8px;
  padding-left: 5px;
}
.hidden-chat {
  position: absolute;
  width: 250px;
  height: 30px;
  bottom: 0;
  left: 0;
  border-top: 4px solid black;
  border-right: 4px solid black;
  background-color: blue;
  text-align: left;
  padding-left: 5px;
  font-size: 16px;

}
.hidden-chat p {
  margin-top: 8px;
}
.unread-chat-count {
  position: absolute;
  right: 5px;
  top: -3px;
  background-color: red;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}
