<!DOCTYPE html>
<html ng-app="tttApp">
	<head>
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
	  <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/GameController.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-controller="GameController">
		<div class="game-container">
			<header>
				<p class="left" ng-class="{highlight:game.playerOneTurn}">
					mario<img class="thumb" src="mario/fireflower.gif"><br>{{game.playerOneWins | leadingZeroes}}
				</p>
				<p class="right" ng-class="{highlight:!game.playerOneTurn}">
					<img class="thumb" src="mario/star.gif">luigi<br>{{game.playerTwoWins | leadingZeroes}}
				</p>
				<p style="text-align:center" class="right">
					world<br>{{matchID}}
				</p>
			</header>
			<div class="play-area">
				<table ng-hide="game.needPlayerTwo" ng-class="{three: game.boardSize==3, four: game.boardSize==4}">
					<tr ng-repeat="row in getBoardSizeArray()">
						<td ng-repeat="col in getBoardSizeArray()" ng-click="play(row, col)" ng-class="{P1: game.board[row][col]=='X', P2: game.board[row][col]=='O', empty: game.board[row][col]==='', notTurn: (user==game.playerOne && !game.playerOneTurn) || (user==game.playerTwo && game.playerOneTurn), turn: (user==game.playerOne && game.playerOneTurn) || (user==game.playerTwo && !game.playerOneTurn)}"></td>
					</tr>
				</table>
				<p class="waiting" ng-show="game.needPlayerTwo">Waiting for opponent...</p>
				</div>
 				<div class="game-over-screen" ng-show="game.gameOver">
					<p>game over</p>
					<p ng-show="game.winner=='tie'">Cat's game!</p>
					<p ng-show="game.winner!='tie'">{{game.playerOneTurn ? 'Luigi' : 'Mario'}} wins!</p>
					<br>
					<p>play again?</p>
					<ul>
						<li><a href="" ng-click="resetBoard()">Yes</a></li>
						<li><a href="http://mario.nintendo.com/">No</a></li>
					</ul>
				</div>
		</div>
		    <!-- Chat -->
    <div ng-show="showChat" class="chat-box">
      <div class="chat-header" ng-click="showChat = !showChat; chatsRead = chats.length">
        <p>Chat</p>
      </div>
      <ul>
        <li ng-repeat="chat in chats">{{chat.sender}}: {{chat.message}}</li>
      </ul>
      <form ng-submit="sendChat()">
        <input type="text" ng-model="enterChat">
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="hidden-chat" ng-click="showChat = !showChat; chatsRead = chats.length">
      <p>Chat</p>
      <p ng-hide="chats.length - chatsRead == 0"class="unread-chat-count">{{chats.length - chatsRead}}</p>
    </div>
	</body>
</html>