<!DOCTYPE html>

<html ng-app="tictactoeApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/GameController.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body ng-controller="GameController">
    <header>
      <strong>TICTACTOE</strong>
      <a href="" ng-click="showHiScore = !showHiScore">HI-SCORE</a>
    </header>
    <div class="scoreboard">
        <p class="user" ng-class="{highlight: game.playerOneTurn}">
          {{game.playerOne}} P1
          <br> 
          {{game.playerOneWins}} win<span ng-hide="game.playerOneWins == 1">s</span>
        </p>
        <p class="opponent" ng-class="{highlight: !game.playerOneTurn}">
          P2 {{game.playerTwo}}
          <br>
          {{game.playerTwoWins}} win<span ng-hide="game.playerTwoWins == 1">s</span>
        </p>
    </div>
    <div class="game-board-container">
      <!-- Game board -->
      <table ng-hide="game.needPlayerTwo">
        <tr ng-repeat="row in getBoardSizeArray()">
          <td ng-repeat="column in getBoardSizeArray()" class="board-button" ng-click="play(row, column)" ng-disabled="game.board[row][button]">
            {{game.board[row][column]}}
          </td>
        </tr>
      </table>
      <!-- Game over dialog -->
      <div class="game-over-dialog" ng-show="game.gameOver">
        <p>
          Game over.
          <br>  
          <span ng-show="game.winner == 'tie'">It's a tie!</span>
          <span ng-show="game.winner != 'tie'">{{game.playerOneTurn ? game.playerTwo : game.playerOne }} wins!</span>
          <br>
          <br>
          Would you like to play again?
        </p>
        <button ng-click="resetBoard()">Yes</button>
        <button ng-click="exit()">No</button>
      </div>
      <!-- Message displayed instead of board while waiting for opponent -->
      <h2 ng-show="game.needPlayerTwo">Waiting for opponent...</h2>
    </div>

    <!-- High Score display -->
    <div ng-show="showHiScore" class="hi-score">
      <button class="x-button" ng-click="showHiScore = !showHiScore">X</button>
      <h3>Hi-Scores</h3>
      <ul>
        <li ng-repeat="user in users | orderBy:user.w" ng-show="user.w > 0">
          <span>{{$index + 1}}.</span> {{user.name | uppercase}} -<br> {{user.w}} wins
        </li>
      </ul> 
    </div>

    <!-- Chat -->
    <div ng-show="showChat" class="chat-box">
      <div class="chat-header" ng-click="showChat = !showChat; chatsRead = chats.length">
        <p>Chat</p>
      </div>
      <ul>
        <li ng-repeat="chat in chats">{{chat.sender | limitTo:5}}: {{chat.message}}</li>
      </ul>
      <form ng-submit="sendChat()">
        <input type="text" ng-model="enterChat">
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="hidden-chat" ng-click="showChat = !showChat; chatsRead = chats.length">
      <p>Chat</p>
      <p ng-hide="chats.length - chatsRead == 0"class="unread-chat-count">{{chats.length - chatsRead}}</p>
    </div>
    {{game}}

  </body>
</html>