<!doctype html>

<html ng-app="tttApp">
	<head>
		<title>Tic tac toe</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="js/main.js"></script>
		<style>
			td button {
				border: 1px solid black;
				height: 100px;
				width: 100px;
				text-align: center;
				background-color: green;
				opacity: .5;
			}
			td:hover {
				background-color: red;
				opacity: .5;
			}
			td:focus {
				background-color: green;
				opacity: 1;
			}
			#board {
				margin: auto;
				background-color: gray;
				border-radius: 5px;
				margin-top: 100px;
			}
		</style>
	</head>
	<body>
		<table id="board" ng-controller="BoardController">
			<tr ng-repeat="row in [0,1,2]">
				<td ng-repeat="column in [0,1,2]"><button ng-click="play(row, column)">{{row}},{{column}}</button></td>
			</tr>
		</table>
	</body>
</html>